  <ul>
<% @stations[:fuel_stations].each do |station| %>
    <li>Name: <%= station[:station_name] %></li>
    <li>Address: <%= station[:street_address] %></li>
    <li>State: <%= station[:state] %></li>
    <li>Fuel Type: <%= station[:fuel_type_code] %></li>
    <li>Access Times: <%= station[:access_days_time] %></li>
    <br>
<% end %>
  </ul>